@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Electrolize&family=Great+Vibes&family=Hurricane&family=Lavishly+Yours&family=Lexend+Peta:wght@100..900&family=Parisienne&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "game-of-squids";
  src: url("/fonts/Game\ Of\ Squids.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CompactaBT";
  src: url("/fonts/CompactaBT.ttf");
  font-weight: normal;
  font-style: normal;
}
.custom-cursor {
  cursor: url("/images/cp.png"), pointer, auto;
}
